<style title="sheet1">
	body {
		background-color: white;
		color: red;
	}
</style>
<style title="sheet2">
		body {
			background-color: black;
			color: yellow;
		}
<style title="sheet3">
	body {
		background-color: pink;
		color: green;
	}
</style>